@import "tailwindcss";

@theme {
  --color-bg-light: #ffffff;
  --color-text-dark: #0a0a0a;
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-inter);
}

@layer base {
  body {
    background-color: var(--color-bg-light);
    color: var(--color-text-dark);
  }
}

@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);
    color: transparent;
  }
}

/* Custom Scrollbar for sleekness */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
}
