@import "tailwindcss";

@theme {
  --color-bg-dark: #0a0a0a;
  --color-text-light: #ededed;
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-inter);
}

@layer base {
  body {
    background-color: var(--color-bg-dark);
    color: var(--color-text-light);
  }
}

@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
    color: transparent;
  }
}

/* Custom Scrollbar for sleekness */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: #333;
}
